.error__subtitle {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 184px;
    margin-top: 5px;
}

@media (max-width: 450px) {
    .error__subtitle {
        font-size: 12px;
        margin-bottom: 310px;
        margin-top: 19px;
    }
}