.profile__edit {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 206px;
    text-align: center;
    border: 0;
    background: rgba(32, 32, 32, 1);
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    text-decoration: none;
}

.profile__edit:hover {
    opacity: 0.8;
}

.profile__edit:disabled {
    opacity: 1;
    color: #C2C2C2;
    cursor: auto;
}

@media (max-width: 900px) {
    .profile__edit {
        margin-top: 197px;
    }
}

@media (max-width: 450px) {
    .profile__edit {
        margin-top: 365px;
    }
}