.about-project__weeks {
    margin: 109px auto 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 36px;
    max-lines: 100%;
}

@media (max-width: 900px) {
    .about-project__weeks {
        margin-top: 92px;
    }
}

@media (max-width: 450px) {
    .about-project__weeks {
        margin-top: 62px;
    }
}