.burger-menu__block {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 32px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
    min-width: 98px;
    margin-top: calc(100vh - 39vh);
    align-self: center;
}

@media (max-height: 770px) {
    .burger-menu__block{
        margin-top: calc(100vh - 65vh);
    }
}

@media (max-width: 450px) {
    .burger-menu__block {
        margin-top: calc(50vh - 15vh);;
    }
}
