.navtab {
    margin: 0 auto;
    padding: 0;
    width: 308px;
    height: 36px;
    margin-top: -66px;
    text-align: center;
    display: flex;
    align-items: center;
}

@media (max-width: 450px) {
    .navtab {
        width: 264px;
        height: 26px;
        margin-top: -44px;
    }
}