.data__input {
    margin: 0;
    padding: 0;
    width: 381px;
    height: 46px;
    border: 0;
    border-radius: 8px;
    background: rgba(47, 47, 47, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    outline: none;
    cursor: text;
    padding-left: 15px;
    margin-bottom: 12px;
    margin-top: 10px;
}

.data__input:focus {
    outline: 1px solid rgba(66, 133, 244, 1);
    border-radius: 5px;
}

.data__input:nth-child(6) {
    margin-bottom: 5px;
}

@media (max-width: 450px) {
    .data__input {
        width: 245px;
    }
}