.data__button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    border-radius: 3px;
    background: rgba(66, 133, 244, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    margin-top: 68px;
    margin-bottom: 16px;
    cursor: pointer;
}

.data__button:hover {
    opacity: .8;
}

.data__button:disabled {
    opacity: .5;
    cursor: auto;
}

@media (max-width: 450px) {
    .data__button {
        font-size: 12px;
        margin-top: 160px;
        margin-bottom: 13px;
    }
}