.movies__save-card {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    row-gap: 30px;
    column-gap: 24px;
    margin-bottom: 167px;
}

@media (max-width: 1180px) {
    .movies__save-card {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .movies__save-card {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 36px;
        margin-bottom: 240px;
    }
}

@media (max-width: 750px) {
    .movies__save-card {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        row-gap: 18px;
    }
}