.about-project__weeks_front {
    margin: 0;
    padding: 0;
    color: rgba(139, 139, 139, 1);
    width: 912px;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding-top: 7px;
}

@media (max-width: 1210px) {
    .about-project__weeks_front {
        width: 71vw;
    }
}

@media (max-width: 900px) {
    .about-project__weeks_front {
        max-width: 528px;
        font-weight: 400;
        line-height: 17px;
        padding-top: 4px;
    }
}

@media (max-width: 450px) {
    .about-project__weeks_front {
        max-width: 184px;
        font-size: 11px;
        padding-top: 0;
    }
}