.header__account {
    margin: 0;
    padding: 0;
    background: url(../../../images/icon_account.svg) no-repeat center center #313131;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.header__account:hover {
    opacity: 0.699999988079071;
}


@media (max-width: 900px) {
    .header__account {
        display: none;
    }
}
