.portfolio__block_separation {
    margin: 0;
    padding: 18px 0 15px 0;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
    border-top: 1px solid rgba(66, 66, 66, 1);
}

@media (max-width: 450px) {
    .portfolio__block_separation {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}